<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdjustWindowForFontSizeChange</key>
	<true/>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>Control</key>
	<integer>1</integer>
	<key>Default Bookmark Guid</key>
	<string>85BD87F8-16E5-4E43-BF64-2CC4BF3D5A60</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>EnableDivisionView</key>
	<false/>
	<key>EnableProxyIcon</key>
	<false/>
	<key>EnableRendezvous</key>
	<false/>
	<key>FlashTabBarInFullscreen</key>
	<true/>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideActivityIndicator</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HideTab</key>
	<true/>
	<key>HideTabCloseButton</key>
	<false/>
	<key>HideTabNumber</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>JobName</key>
	<false/>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>MaxVertically</key>
	<false/>
	<key>NSFontPanelAttributes</key>
	<string>1, 0</string>
	<key>NSNavLastRootDirectory</key>
	<string>~/Documents/Programmation/dotfiles/iTerm2</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{799, 448}</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSTableView Columns v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMEx4fICEiIyQqNDU2VSRu
	dWxs0g0ODxJaTlMub2JqZWN0c1YkY2xhc3OiEBGAAoAKgA3TFA0OFRkdV05TLmtleXOj
	FhcYgAOABIAFoxobHIAGgAeACIAJWklkZW50aWZpZXJVV2lkdGhWSGlkZGVuUTAjQGjA
	AAAAAAAI0iUmJyhaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiJylYTlNP
	YmplY3TTFA0OKy8doxYXGIADgASABaMwMRyAC4AMgAiACVExI0B0oZ2yLQ5W0iUmNzhe
	TlNNdXRhYmxlQXJyYXmjNzkpV05TQXJyYXkACAARABoAJAApADIANwBJAEwAUgBUAGMA
	aQBuAHkAgACDAIUAhwCJAJAAmACcAJ4AoACiAKYAqACqAKwArgC5AL8AxgDIANEA0gDX
	AOIA6wD4APsBBAELAQ8BEQETARUBGQEbAR0BHwEhASMBLAExAUABRAAAAAAAAAIBAAAA
	AAAAADoAAAAAAAAAAAAAAAAAAAFM
	</data>
	<key>NSTableView Sort Ordering v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABowsMEVUkbnVsbNINDg8QWk5T
	Lm9iamVjdHNWJGNsYXNzoIAC0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFi
	bGVBcnJheaMUFhdXTlNBcnJheVhOU09iamVjdAgRGiQpMjdJTFJUWF5jbnV2eH2IkaCk
	rAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 KeyBingingTable</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSFontPanel</key>
	<string>675 161 445 211 0 0 1280 778 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>240 258 799 448 0 0 1280 777 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>330 301 620 392 0 0 1280 777 </string>
	<key>NSWindow Frame SharedPreferences</key>
	<string>366 264 796 486 0 0 1280 777 </string>
	<key>NSWindow Frame UKCrashReporter</key>
	<string>22 66 592 584 0 0 1280 777 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>2 282 810 478 0 0 1280 777 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>291 137 810 478 0 0 1280 777 </string>
	<key>NSWindow Frame iTerm Window 2</key>
	<string>643 66 634 352 0 0 1280 777 </string>
	<key>NeverWarnAboutShortLivedSessions_85BD87F8-16E5-4E43-BF64-2CC4BF3D5A60</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_85BD87F8-16E5-4E43-BF64-2CC4BF3D5A60_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.11372549019607843</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14117647058823529</real>
				<key>Red Component</key>
				<real>0.80000000000000004</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.14901960784313725</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.73333333333333328</real>
				<key>Red Component</key>
				<real>0.72156862745098038</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18431372549019609</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.74117647058823533</real>
				<key>Red Component</key>
				<real>0.98039215686274506</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.59607843137254901</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.6470588235294118</real>
				<key>Red Component</key>
				<real>0.51372549019607838</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.60784313725490191</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.52549019607843139</real>
				<key>Red Component</key>
				<real>0.82745098039215681</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.48627450980392156</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.75294117647058822</real>
				<key>Red Component</key>
				<real>0.55686274509803924</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.10196078431372549</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59215686274509804</real>
				<key>Red Component</key>
				<real>0.59607843137254901</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.12941176470588237</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59999999999999998</real>
				<key>Red Component</key>
				<real>0.84313725490196079</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.53333333333333333</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.52156862745098043</real>
				<key>Red Component</key>
				<real>0.27058823529411763</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.52549019607843139</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.3843137254901961</real>
				<key>Red Component</key>
				<real>0.69411764705882351</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41568627450980394</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.40784313725490196</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.19215686274509805</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.28627450980392155</real>
				<key>Red Component</key>
				<real>0.98431372549019602</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.14901960784313725</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.14901960784313725</real>
				<key>Red Component</key>
				<real>0.14901960784313725</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Background Image Mode</key>
			<integer>0</integer>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.20000000000000001</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.20000000000000001</real>
				<key>Red Component</key>
				<real>0.20000000000000001</real>
			</dict>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>30</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>100</integer>
			<key>Command</key>
			<string>clear</string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Guid</key>
			<string>85BD87F8-16E5-4E43-BF64-2CC4BF3D5A60</string>
			<key>Hide After Opening</key>
			<false/>
			<key>Horizontal Spacing</key>
			<real>0.96999999999999997</real>
			<key>Icon</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Text</key>
			<string></string>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>hugo</string>
			<key>Non Ascii Font</key>
			<string>SauceCodeProNerdFontCom-Medium 14</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Non-ASCII Ligatures</key>
			<false/>
			<key>Normal Font</key>
			<string>Menlo-Regular 14</string>
			<key>Only The Default BG Color Uses Transparency</key>
			<true/>
			<key>Open Toolbelt</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prevent Opening in a Tab</key>
			<false/>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Scrollback With Status Bar</key>
			<true/>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Space</key>
			<integer>0</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tab Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.2196078431372549</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.2196078431372549</real>
				<key>Red Component</key>
				<real>0.2196078431372549</real>
			</dict>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>4</integer>
			<key>Title Components</key>
			<integer>64</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Underline Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Unicode Normalization</key>
			<integer>0</integer>
			<key>Unicode Version</key>
			<integer>8</integer>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Custom Window Title</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Use Tab Color</key>
			<true/>
			<key>Use Underline Color</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.03</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>13</integer>
			<key>Working Directory</key>
			<string>/Users/hugo</string>
		</dict>
	</array>
	<key>NoSyncBFPRecents</key>
	<array>
		<string>SauceCodePro NF</string>
	</array>
	<key>NoSyncCommandHistoryHasEverBeenUsed</key>
	<true/>
	<key>NoSyncFrame_SessionsPreferences</key>
	<dict>
		<key>screenFrame</key>
		<string>{{0, 0}, {1280, 800}}</string>
		<key>topLeft</key>
		<string>{269, 602}</string>
	</dict>
	<key>NoSyncFrame_SharedPreferences</key>
	<dict>
		<key>screenFrame</key>
		<string>{{0, 0}, {1280, 800}}</string>
		<key>topLeft</key>
		<string>{141, 735}</string>
	</dict>
	<key>NoSyncHaveWarnedAboutPasteConfirmationChange</key>
	<true/>
	<key>NoSyncInstallationId</key>
	<string>BAB12B8F-2BD9-4995-A3BE-34D29407F13B</string>
	<key>NoSyncLastTipTime</key>
	<real>576065525.05253303</real>
	<key>NoSyncLaunchExperienceControllerRunCount</key>
	<integer>244</integer>
	<key>NoSyncNeverRemindPrefsChangesLostForFile</key>
	<true/>
	<key>NoSyncNeverRemindPrefsChangesLostForFile_selection</key>
	<integer>0</integer>
	<key>NoSyncNextAnnoyanceTime</key>
	<real>569433498.67367399</real>
	<key>NoSyncOnboardingWindowHasBeenShown</key>
	<true/>
	<key>NoSyncPermissionToShowTip</key>
	<false/>
	<key>NoSyncRecordedVariables</key>
	<dict>
		<key>0</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>1</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>columns</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>creationTimeString</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowTitle</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxStatusRight</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxClientName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>mouseReportingMode</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>badge</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>tab</string>
				<key>nonterminalContext</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>presentationName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxRole</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>lastCommand</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindowPane</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxStatusLeft</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoLogId</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>rows</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>autoNameFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>triggerName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>jobPid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>profileName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>termid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>16</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.presentationName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.iterm2.localhostName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.lastCommand</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>currentTab</string>
				<key>nonterminalContext</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.columns</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.window</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverride</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.rows</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverrideFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentTab.currentSession.jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>2</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.terminalIconName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.presentationName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.columns</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>iterm2.localhostName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>window</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.tty</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.jobName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.name</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.lastCommand</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverride</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>id</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.username</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.rows</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.path</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>iterm2</string>
				<key>nonterminalContext</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.hostname</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.terminalWindowName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>titleOverrideFormat</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession.pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>tmuxWindow</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<false/>
				<key>name</key>
				<string>currentSession</string>
				<key>nonterminalContext</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>currentSession</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>4</key>
		<array>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>pid</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>localhostName</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>isTerminal</key>
				<true/>
				<key>name</key>
				<string>effectiveTheme</string>
				<key>nonterminalContext</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>NoSyncTimeOfFirstLaunchOfVersionWithTip</key>
	<real>518121258.29351199</real>
	<key>NoSyncTipsDisabled</key>
	<true/>
	<key>NoSyncTipsToNotShow</key>
	<array>
		<string>000</string>
		<string>0000</string>
		<string>0000</string>
		<string>0000</string>
		<string>0001</string>
		<string>0002</string>
	</array>
	<key>NoSyncTurnOffBracketedPasteOnHostChange</key>
	<true/>
	<key>NoSyncVeryOldNightlyBuildWarning_SilenceUntil</key>
	<real>589138540.38505805</real>
	<key>NoSyncVeryOldNightlyBuildWarning_selection</key>
	<integer>0</integer>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<false/>
	<key>OpenTmuxWindowsIn</key>
	<integer>0</integer>
	<key>PerPaneBackgroundImage</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PrefsCustomFolder</key>
	<string>/Users/hugo/Documents/Programmation/dotfiles/iTerm2</string>
	<key>PreserveWindowSizeWhenTabBarVisibilityChanges</key>
	<false/>
	<key>QuitWhenAllWindowsClosed</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/nightly_new.xml?shard=3</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2020-02-10T06:50:21Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUSkippedVersion</key>
	<string>3.3.20191215-nightly</string>
	<key>SeparateStatusBarsPerPane</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>ShowNewOutputIndicator</key>
	<true/>
	<key>ShowPaneTitles</key>
	<false/>
	<key>SmartPlacement</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.10000000000000001</real>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>StretchTabsToFillBar</key>
	<false/>
	<key>TabStyle</key>
	<integer>0</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>4</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>TimeBetweenTips</key>
	<real>86400</real>
	<key>UKCrashReporterLastCrashReportDate</key>
	<real>1537100928</real>
	<key>UseBorder</key>
	<false/>
	<key>UseLionStyleFullscreen</key>
	<true/>
	<key>UseMetal</key>
	<true/>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowNumber</key>
	<true/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>iTerm Version</key>
	<string>3.3.20190414-nightly</string>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
	<key>moveToApplicationsFolderAlertSuppress</key>
	<true/>
</dict>
</plist>
